{
	"extends": "airbnb",
	"rules": {
		"semi": ["error", "never"],
		"indent": ["error", "tab"],
		"no-console": "off",
		"no-tabs": "off",
		"arrow-parens": ["error", "as-needed"],
		"no-unused-vars": "warn",
		"no-restricted-syntax": "off"
	}
}
